<div role="card" class="card-booking">
  <h2>RETRIEVE YOUR BOOKING</h2>
  <hr />
  <p>
    You can find your booking by filling out your family name and the booking
    code in your booking confirmation
  </p>
  <div role="form" class="booking-form">
    <label for="booking-code">Booking code</label>
    <input type="text" name="booking-code" id="booking-code" />
    <label for="family-name">Family name</label>
    <input type="text" name="family-name" id="family-name" />
  </div>
  <button>Retrieve booking</button>
</div>
